 /*!
 	Custom css files for coffe Shop Application
  */


 @font-face {
     font-family: 'Gabriele Bad Ah';
     src: url('../fonts/gabriele.bad-ah.ttf');
 }

 body, html {
     font-family: 'Gabriele Bad Ah';
 }
.card {
	margin-top:3%;
	border-bottom: 1px dotted black;
	border-top: 1px dotted black;
	cursor: pointer; 
	cursor: hand;
}


.navbar-default {
    background-color: #f4f4f4;
    margin-top: 50px;
    border-width: 0;
    z-index: 5;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > li:hover > a {
    border: 0 solid #4285f4;
    border-bottom-width: 2px;
    font-weight: 800;
    background-color: transparent;
}

.navbar-default .dropdown-menu {
    background-color: #ffffff;
}

.navbar-default .dropdown-menu li > a {
    padding-left: 30px;
}

.header {
    background-color: #ffffff;
    border-width: 0;
}

.header .navbar-collapse {
    background-color: #ffffff;
}
